.db-ready {
  float:left;
  color: blue;
  margin-left: 30px;
}

.db-ready.loaded {
  color: green;
}

.webhook-container {
  margin-top: 10px;
  margin-bottom: 30px;
}

.webhook-container::after {
  content: '';
  display: inline-block;
  clear: right;
}

.webhook-describe, .webhook-input {
  float: right;
}

.webhook-input {
  width: 350px;
}

.webhook-describe {
  margin-right: 10px;
}

.index, .id-elem {
  margin: 0 20px 0 0;
}

.input-data {
  margin-top: 20px;
}

.form-go-to {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

.input-go-to {
  width: 40px;
}

.button-go-to {
  display: none;
}

.form-auto {
  display: inline-block;
}

.input-auto-from, .input-auto-to {
  width: 40px;
}

.auto-idicate {
  visibility: hidden;
}

.auto-idicate.active {
  visibility: visible;
  color: blue;
}

.check-bitrix-data {
  height: 30px;
}

.company, .email, .inn, .comments, .service, .phone, .address {
  height: 70px;
  width: 300px;
}

.email, .inn, .service, .phone, .address {
  width: 120px;
}

.template,
.template-footer {
  margin-top: 10px;
  width: 300px;
}

.match-percent {
  margin: 20px 0 0 40px;
}

.match-percent__company,
.match-percent__fio {
  width: 25px;
}

.match-percent__fio {
  margin: 5px 0 0 32px;
}




.match-company-container.hide {
  display: none;
}

.match-company {
  /* border: solid 1px blue; */
}

.match-company span {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 10px;
  margin-top: 10px;
  background-color: LightSkyBlue ;
}

.match-company span:hover {
  cursor: pointer;
}

.match-company span.active {
  background-color: blue;
  color: white;
}

.button-remove-match {
  margin-top: 20px;
}
.button-remove-match.hide {
  display: none;
}

.daley, .daley-describe {
  color: LightSkyBlue;
  opacity: 0;
}

.daley-container.hide {
  visibility: hidden;
}

.form-auto-container {
  margin-top: 30px;
  margin-left: 40px;
}

.daley-text {
  margin-left: 15px;
}

.input-daley-from, .input-daley-to {
  width: 25px;
}

.show-matches-container {
  margin-top: 20px;
}

.show-matches-container.hidden {
  display: none;
}



.full-match-title, .full-match-email, .full-match-comment {
  display: inline-block;
  width: 500px;
  vertical-align: top;
  padding: 0 15px;
}

.match-raw {
  margin-bottom: 4px;
  background-color: rgb(255, 251, 229);
  padding: 12px 0;
}

/* .full-match-email {
  background-color: rgb(243, 238, 218);
} */

.refresh-text {
  color: blue;
}

.refresh-text.hidden {
  visibility: hidden;
}

.refresh-text.error {
  color: red;
}
